@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap";


html, body {
    height: 100%;
}

body {
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
}
